/* ==========================================================================
   COMPONENTS / #REVIEW-DATE
   ========================================================================== */

.nhsuk-review-date {
  color: $nhsuk-secondary-text-color;
  margin-top: $nhsuk-vertical-spacing-desktop;

  @include mq($until: tablet) {
    margin-top: $nhsuk-vertical-spacing-mobile;
  }
}
